* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100vw;
    min-height: 100vh;
}

body {
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: rgb(152,158,176);
    background: linear-gradient(135deg, rgba(152,158,176,1) 0%, rgba(85,89,108,1) 100%);
}

main {
    width: 60%;
    color: #a5abbe;
    padding: 2rem 3rem;
    border-radius: .5rem;
    background: rgb(84,85,105);
    background: linear-gradient(135deg, rgba(84,85,105,1) 0%, rgba(40,41,52,1) 100%);
    display: flex;
    flex-wrap: wrap;
}

main div {
    width: 50%;
}

main nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    padding-right: 1rem;
}

main nav table {
    border-spacing: 0;
}

main nav table tr td {
    padding: .5rem 1rem;
    color: white;
}

main nav table tr:nth-child(odd) td {
    background-color: rgba(255, 255, 255, .1);
}

main nav table tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, .2);
}


main nav button {
    color: white;
    font-size: .8rem;
    font-weight:  500;
    padding: .3rem .6rem;
    background-color: darkviolet;
    cursor: pointer;
    border-radius: .3rem;
}

main nav button:hover {
    color: darkviolet;
    background-color: white;
}

.container {    
    padding: 1rem;
    background-color: rgba(0, 0, 0, .3);
    border-radius: .3rem;
}

.container h2 {
    background-color: darkviolet;
    color: white;
    font-size: 1.2rem;
    font-weight:  500;
    padding: .2rem .5rem;
    margin-bottom: .5rem;
    border-radius: .3rem;
}

.container span {
    color: white;
}

section {
    width: 60%;
    color: rgba(40,41,52,1);
    padding: 2rem 3rem;
    border-radius: .5rem;
    background: rgb(187, 188, 206);
    background: linear-gradient(135deg, rgb(227, 227, 241) 0%, rgb(187, 188, 206) 100%);
    margin-top: 2rem;
}

section pre {
    margin-top: 2rem;
    font-family: monospace;
    background-color: rgba(0, 0, 0, .75);
    padding: 1rem 2em;
    color:rgba(255, 255, 255, .9);
    font-size: .7rem;
    border-radius: .3rem;
}

section ul { padding-left: 3rem; }